/* Global Styles */

body {
  margin: 0;
    padding: 0;
    background: linear-gradient(145deg,#3f068e, #fff);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  html {
    font-size: 20px;
  }

  h1{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
.ports{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .card {
    width: 250px;
    height: 350px;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
  }
  
  .card-head {
    font-size: 0.9rem;
    background-color: rgb(164, 164, 164);
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .cont ,.cont2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
    border: 5px 0px solid;
    border-radius: 0 20px 20px 0;
    background-color: rgb(255, 255, 255);
  }
  
  .cont img {
    width: 35%;
    height: 150px;
    margin: 12px;
    border-radius: 10px;
    transition: all 0.5s;
  }

  .cont2 img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    transition: all 0.5s;
  }
  
  .cont img:hover, .cont2 img:hover {
    transform: scale(1.7);
  }
  
  .desc {
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
    font-size: 0.9rem;
  }

  .desc p a {
    text-decoration: none;
    color: rgb(77, 77, 77);
  }
  
  .desc p a:hover {
    color: #06318e;
  }
  .figma, .web{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 15px;
  }
  .grid-container {
    display: grid;
    width: fit-content;
    height: auto;
    background-color: #d8d8d888;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 20px #bfbfbf;
    margin: 20px;
  }
  .access{
    background-color: #5E78FF;
  }
  .access .card-head{
    background-color: #3f5fffe8;
  }
  .coffee{
    background-color: #EFCEAD;
  }
  .coffee .card-head{
    background-color: #edbe8fd8;
  }
  .tmnt{
    background-color: #82c0a1;
  }
  .tmnt .card-head{
    background-color: #71a58bdd;
  }
  .swap{
    background-color: #ffa053;
  }
  .swap .card-head{
    background-color: #fb8a2eea;
  }
  .dress{
    background-color: #f6ff00;
  }
  .dress .card-head{
    background-color: #dfe60eec;
  }
  .food{
    background-color: #00a347;
  }
  .food .card-head{
    background-color: #0f8d46e8;
  }
  .flix{
    background-color: #6a6a6a;
  }
  .flix .card-head{
    background-color: #494949e2;
  }
  .shop{
    background-color: #f5f5dc;
  }
  .shop .card-head{
    background-color: #e6e6cef4;
  }

  @media (max-width: 480px){
    html{
      font-size: 18px;
    }
    .grid-container{
      grid-template-columns: repeat(4, 1fr);
      width: 310px;
      height: 370px;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }