body{
    background-color: rgb(255, 206, 28);
    width: 100%;
    height: 100%;
}
#logo{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 50px;
}
#btn{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: rgb(6, 173, 6);
    height: 30px;
    width: 130px;
    border: none;
    border-radius: 75px;
    margin-top: 20px;
    margin-right: 100px;
}
.first{
    font-size: 45px;
    text-align: justify;
    text-align-last: center;
}
.intro{
    margin-top: 100px;
    margin-right: 350px;
    text-align: center;
    float: right ;
    line-height: 10px;
}
p{
    text-align: center;
    font-size: 21px;
}
input{
    background-color: white;
    border: none;
    width: 75vh;
    height: 7vh;
    text-align: left;
    border: none;
}
.images{
    margin: 2px, 75px;
}
.imgs{
    width: 17vh;
    height: 17vh;
    margin:10px;
    border: none;
    border-radius: 100px;
    transition: transform 1s;
}
.imgs:hover{
    transform: scale(1.2,1.2);
    box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.2);
}
.p2{
    position: absolute;
    top: 280px;
    margin: 50px;
    float: center;
    margin-left: 0px;
    background-color: white;
    left: 0;
    right: -65px;
    border-radius: 30px 30px 0 0;
}
.second{
    text-align: center;
}
.bond{
    line-height: 50px;
    text-align: center;
}
#flag{
    background-color: green;
    color: white;
    text-align: center;
    font-size: 30px;
    height: 4vh;
    width: 8vh;
    border-radius: 10px 0 0 10px;
    padding: 9px;
}
#search{
    background-color: green;
    color: white;
    text-align: middle;
    font-size: 30px;
    height: 5vh;
    width: 7vh;
    border-radius: 0 10px 10px 0;
    padding: 7px;
}
#split{
    display: flex;
}
.sect{
    width: 101.05%;
    display: flex;
    margin: 0 50px;
    text-align: center;
}
.img2s{
    height: 200px;
    width: 280px;
}
section{
    margin: 30px;
}
.p3{
    text-align: center;
    background-color: white;
    position: absolute;
    top: 680px;
    left: -50px;
    right: -15px;
    padding: 0 80px;
}
